#footer {
	min-height: 0px !important;
}

.navbar {
	margin: 0;
}
.fine
{
  padding: 5px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 10px #555;
  -moz-box-shadow: 0px 1px 10px #555;
 box-shadow: 0px 1px 10px #555;
}
.pers-navbar {
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(36, 36, 36, 0.88) !important;
	background-image: -moz-linear-gradient(top, rgba(36, 36, 36, 0.8), #242424) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(36, 36, 36, 0.8)), to(#242424)) !important;
	background-image: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.8), #242424) !important;
	background-image: -o-linear-gradient(top, rgba(36, 36, 36, 0.8), #242424) !important;
	background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.8), #242424) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc242424', endColorstr='#ff242424', GradientType=0) !important;
	border: 1px solid #000000 !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.no-margin{
	width:auto !important;

}
.pers-navbar .alert {
	margin: 0;
	margin-top: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.navbar-inverse .brand {
	color: #00adbb;
}

#btn-save {
	margin-left: 10px;
}
#btn-add-content {
	margin-bottom: 10px;
}

.dropdown-toggle {
	color: #fff !important;
	text-shadow: none !important;
}

.dropdown-toggle:hover {
	color: #999 !important;
}

.caret {
	border-top-color: #fff !important;
}

.caret:hover {
	border-top-color: #999 !important;
}

.alert-error {
	margin-top: 20px;
}

.search-query {
	border-radius: 2px 0 0 2px !important;
}

.btn-search {
	border-radius: 0 2px 2px 0 !important;
	margin-left: -4px;
}

.rss {
	margin-bottom: 30px;
}

.search-nav {
	border-radius: 0px !important;
	background-color: rgba(36, 36, 36, 0.88);
	background-image: url(../img/bg_noise-2.png);
	background-position: left top;
	background-repeat: repeat;
}

.search-menu {
	border-radius: 0 0 5px 5px !important;
	border: 1px solid #bbbbbb;
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
}

.badge-important {
	background-color: #e32933 !important;
}

.well h3 {
	margin-bottom: 20px !important;
}

.well p {
	color: rgba(36, 36, 36, 0.8);
	background: #ffffff;
	text-align: center;
	font-size: 14px;
}

.flex-direction-nav li a {
	font-size: 0px !important;
}

.mailinglist-modal {
	width: 196px;
	border: 1px solid #000;
	padding: 10px;
	display: none;
	color: #fff;
	border-radius: 10px;
	text-align: center;
}

.form-actions {
	background: #fff;
	border-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#siteMap ul, #siteMap {
	list-style: none;
	font-size: 16px;
}

.expend {
	margin-left: -20px;
	margin-right: 5px;
}

.expend:hover {
	text-decoration: none;
}

.dropdown-menu > li {
	background: #414141;
}
.dropdown-menu >li a{
	color:#999999 !important;
}
.dropdown-menu >li a:hover{
	color:#fff !important;
}
.dropdown-menu .active-item {
	background-color:#545454 !important;
	text-shadow: none !important;
}
.dropdown-menu .active-item a {
	color:#fff !important;
}
.dropdown-menu .active-item:hover {
	background-color:#999 !important;
	text-shadow: none !important;
}

.min {
	font-size: 10px;
	color: #555;
	border: thin solid #555;
}
.rubedo-form .control-label {
float: left;
width:auto !important;
text-align:left;
padding-top: 5px;
}
.form-horizontal, .form-actions {
	margin-bottom: 0 !important;
}

[id^='calendar-'] table tbody tr td span {
	padding: 2px 4px;
}

[id^='calendar-'] table {
	margin-left: auto;
	margin-right: auto;
}

.nav-tabs.nav-stacked > li > a {
  border: 0 !important;
}

[id^='calendar-'] .table-bordered {
	border: 0 !important;
}

[id^='calendar-'] .table-bordered td:first-child, [id^='calendar-'] .table-bordered th:first-child {
  border-left: 0 !important;
}

#navigation .header-hidden a.btn {
  color: #000;
}

#navigation .header-hidden a.btn-primary {
  color: #fff;
}

#navigation .navbar .modal-header, #navigation .navbar .modal-body {
  color: #000;
}

.btn-group .dropdown-toggle {
	color: #333 !important;
	text-shadow: none !important;
}