<div class="row-fluid">
	<div id="toplink">
		<a href="#top" class="top-link" title="Back to top">Haut de page <i
			class="icon-chevron-up"></i></a>
	</div>
	<div class="subfooter">
		<div class="span12">
			<p style="text-align: right">
				Le nom et le logo Rubedo sont © 2012-2013 <a
					href="http://www.webtales.fr" target="blank">WebTales</a>
			</p>
		</div>
	</div>
</div>