<div class="row-fluid">
	<div class="span6">
		<p>
			<a href="http://www.webtales.fr" target="blank"><img
				src="{{baseUrl}}/templates/rubedo-project-theme/img/logo_webtales.png" alt="WebTales"></a>
		</p>
		<p>
			Rubedo CMS est une solution <a href="http://www.webtales.fr">WebTales</a>.
		</p>
		<p>L'innovation est au cœur de nos expertises, le modèle open-source
			permet à Webtales de s’engager à la promotion de solution libre tout
			en assurant la qualité et l’expertise technique.</p>
	</div>
	<div class="span3">
		<h3>Services Rubedo</h3>
		<p>
			<a href="http://www.rubedo-project.org/accueil/support" target="blank">Support pour Rubedo</a>
		</p>
		<p>
			<a href="http://www.rubedo-project.org/accueil/support/formations-rubedo" target="blank">Formation Rubedo</a>
		</p>
		<p>
			<a href="http://www.rubedo-project.org/accueil/support/integrateurs" target="blank">Trouver un
				intégrateur</a>
		</p>
		<p>
			<a href="http://www.rubedo-project.org/contact" target="blank">Nous contacter</a>
		</p>
	</div>
	<div class="span3">
		<h3>Service Expertise</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Formation Zend
				Framework</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Formation Sencha</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Audit & Conseil PHP</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Nous contacter</a>
		</p>
	</div>
</div>