<div class="row-fluid">
	<div class="span6">
		<p>
			<a href="http://www.webtales.fr" target="blank"><img
				src="{{baseUrl}}/templates/rubedo-project-theme/img/logo_webtales.png" alt="WebTales"></a>
		</p>
		<p>
			Rubedo CMS is developped by <a href="http://www.webtales.fr">WebTales</a>.
		</p>
		<p> Innovation is at the heart of our expertise. The open-source model allows WebTales to promote open solutions and maintain the quality of the technical expertise.</p>
	</div>
	<div class="span3">
		<h3>Services Rubedo</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Rubedo support</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Rubedo training</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Find an integrator</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Contact us</a>
		</p>
	</div>
	<div class="span3">
		<h3>PHP Expertise Services</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Zend
				Framework Training</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Sencha Tarining</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Mongo DB Training</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Contact us</a>
		</p>
	</div>
</div>