<div class="row-fluid">
	<div class="span6">
		<!--branding/logo-->
		<a class="brand" href="/" title="Home"> <img
			src="{{baseUrl}}/templates/rubedo-project-theme/img/logo_rubedo.png"
			alt="Rubedo">
		</a>
	</div>

	<!--header rightside-->
	<div class="span6">
		<div id="header-hidden-link">
			<a href="#" class="show-hide" title="WebTales"
				data-target=".header-hidden"><i>WebTales</i></a>
		</div>
        
        <!-- flags -->
        <div class="pull-right">
            <a href="http://www.rubedo-project.org"><img src="{{baseUrl}}/templates/rubedo-project-theme/img/drapeau_francais.jpg" title="Français" /></a>
    		<a href="http://www.en.rubedo-project.org"><img src="{{baseUrl}}/templates/rubedo-project-theme/img/drapeau_usa.jpg" title="English" /></a>
        </div>
        
		<!--social media icons-->
		<div class="social-media pull-right">
			<a href="https://twitter.com/Rubedo_project" target="blank"><i class="icon-twitter"></i></a>
			<a href="https://www.facebook.com/pages/Rubedo/420387691377517" target="blank"><i class="icon-facebook"></i></a>
			<a href="https://github.com/WebTales/rubedo" target="blank"><i class="icon-github"></i></a>
			<a href="/contact"><i class="icon-envelope-alt"></i></a>
		</div>
	</div>
</div>