<div class="row-fluid">
	<div class="span6">
		<p>
			<a href="http://www.webtales.fr" target="blank"><img
				src="{{baseUrl}}/templates/rubedo-project-theme/img/logo_webtales.png" alt="WebTales"></a>
		</p>
		<p>
			Rubedo CMS ist eine Anwendung von <a href="http://www.webtales.fr">WebTales</a>.
		</p>
		<p> Unsere L&ouml;sungen sind innovativ und durchdacht. Open Source er&ouml;ffnet&nbsp;Webtales unbegrenzte M&ouml;glichkeiten zur 
		    Entwicklung freier L&ouml;sungen f&uuml;r anspruchsvolle Anspr&uuml;che. In unseren Anwendungen stecken geballte Kreativit&auml;t 
		    und technisches Know-how.</p>
	</div>
	<div class="span3">
		<h3>Services Rubedo</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Support f&uuml;r Rubedo</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Kurse Rubedo</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Systemintegratoren finden</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Kontakt</a>
		</p>
	</div>
	<div class="span3">
		<h3>Services Expertise PHP</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Kurse Zend Framework</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Kurse Sencha</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Kurse Mongo DB</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Kontakt</a>
		</p>
	</div>
</div>