<div class="row-fluid">
	<div class="span6">
		<p>
			<a href="http://www.webtales.fr" target="blank"><img
				src="{{baseUrl}}/templates/rubedo-project-theme/img/logo_webtales.png" alt="WebTales"></a>
		</p>
		<p>
			Rubedo CMS est une solution <a href="http://www.webtales.fr">WebTales</a>.
		</p>
		<p>L'innovation est au cœur de nos expertises, le modèle open-source
			permet à Webtales de s’engager à la promotion de solution libre tout
			en assurant la qualité et l’expertise technique.</p>
	</div>
	<div class="span3">
		<h3>Services Rubedo</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Support pour Rubedo</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Formations Rubedo</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Trouver un
				intégrateur</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Nous contacter</a>
		</p>
	</div>
	<div class="span3">
		<h3>Services Expertise PHP</h3>
		<p>
			<a href="http://www.webtales.fr" target="blank">Formations Zend
				Framework</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Formations Sencha</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Formations Mongo DB</a>
		</p>
		<p>
			<a href="http://www.webtales.fr" target="blank">Nous contacter</a>
		</p>
	</div>
</div>