<div class="flags-container pull-right">
    <a href="http://www.rubedo-project.org"><img class="flag" src="{{baseUrl}}/templates/rubedo-project-theme/img/drapeau_francais.jpg" title="Français" /></a>
	<a href="http://www.en.rubedo-project.org"><img class="flag" src="{{baseUrl}}/templates/rubedo-project-theme/img/drapeau_usa.jpg" title="English" /></a>
	<a href="http://de.rubedo-project.org"><img class="flag" src="{{baseUrl}}/templates/rubedo-project-theme/img/drapeau_allemand.jpg" title="Deutsch" /></a>
</div>